/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* BASE STYLES */
body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 22px;
  background-color: #55dde0;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

h4 {
  color: #33658a;
}

.home-title {
  color: #2f4858;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 4em;
  margin-top:10px;
  
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #33658a;
  padding-bottom:15px;
}

#logo_link {
  padding: 40px;
}

.logo {
  width: 150px;
  padding-top: 10px;
  margin:10px;
}

nav a {
  text-align: center;
  text-decoration: none;
  background-color: #33658a;
  color: white;
  padding-right: 40px;
  font-size: 29px;
}

nav a:hover {
  background-color: #2f4858;
  color: #f6ae2d;
}

/* HERO SECTION */
#hero {
  /* empty by now */
}

#hero-box {
/* empty by now */
}

#hero-img {
  width: 100%;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

/* BUTTONS */
.button-box {
  text-align: center;
}

.book, .join {
  background-color: #f6ae2d;
  text-decoration: none;
  padding: 12px;
  margin-top: 100px;
  font-size: 25px;
  color: #2f4858;
  border-radius: 5px;

}

.book:hover, .join:hover {
  background-color: #55dde0;
  color: #2f4858;
}

.rivers-card {
margin:200px 0;
}

.camping-card {
margin:200px 0;
}

.rapids-card {
margin:200px 0;
}

/* MAIN CONTENT GRID */
main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.card-img {
  border: 10px solid #f6ae2d; 
}

.icon {
  width: 80px;
  padding: 20px;
}

/* BACKGROUND DIV */
#background {
  height: 725px;
  background-color: #33658a;
}
.mountains{
  margin: 200px 0;
}
/* MSG SECTION */
.msg {
  background-color: #2f4858;
  line-height: 2em;
  padding: 10px;
  border: 4px solid #f6ae2d;
  margin: 20px;

}

.msg h2 {
  color: #f6ae2d;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  padding: 2px;
}

.msg p {
  color: white;
  font-size: 1.75em;
}

/* FOOTER */
footer {
  background-color: #f6ae2d;
  color: #2f4858;
  margin-top: 50px;
  padding: 20px;
  border: 5px solid #33658a;
}

footer p {
  font-size: 1.7em;
  margin: 0 auto;
}

footer a {
  color: #2f4858;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

.social {
padding: 20px;
}
