
<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>

body{
  font-family: 'Open Sans', 'Roboto' , sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

#logo_link {
  padding-top: 20px;
}

h2 {
  margin: 0;
}

#content { 
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
text-align: center;
text-decoration:none;
background-color: #33658a;
color: white;
padding: 5px;
}

#hero-msg h1, #hero-msg h4 {
text-align: center;
}

.button-box {
text-align: center;
}

main section{
text-align: center;
}

#background {
height: 725px;
background-color: #33658a;
}

/* [#55dde0]	[#33658a]	[#2f4858]	[#f6ae2d] */

body{
background-color:#55dde0;
}

header{
background-color:#33658a;
}

.book, .join{
background-color:#f6ae2d ;
text-decoration:none;
padding: 2
px 15px;
}

.book:hover, .join:hover{
background-color:#55dde0;
}

.msg{
background-color:#2f4858;
line-height: 1.5em;
}


footer{
background-color:#f6ae2d;
}


nav a:hover {
  background-color: #2f4858;
  color: #f6ae2d;
}

.home-title {
  color: #2f4858;
  font-family:'Open Sans', 'Roboto' , sans-serif;
  font-size: 2em;
}

h4 {
  color: #33658a;
}

.book, .join {
  background-color: #f6ae2d;
  color: #2f4858;
  font-size: 18px;
}

.book:hover, .join:hover {
  background-color: #55dde0;
  color: #2f4858;
}

.msg h2 {
  color: #f6ae2d;
  font-family: 'Open Sans', 'Roboto' , sans-serif;
}

.msg p {
  color: white;
  font-size: 8em;
}

footer {
  background-color: #f6ae2d;
  color: #2f4858;
}

footer a {
  color: #2f4858;
  text-decoration:none;
}

footer a:hover {
  color: white;
}

footer p {
    font: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.logo{
    width:80px;
}

.icon{ 
width: 80px;
}

#hero-img {
width: 100%;

}