:root {
  --cor-primaria: #055a05; /* verde-floresta */
  --cor-secundaria: #f4a261; /* bege médio */
  --cor-destaque1: #264653; /* azul-escuro acinzentado */
  --cor-destaque2: #e9c46a; /* amarelo-claro dourado */
  --fonte-titulo: "Times New Roman", "Georgia", serif;
  --fonte-body: Arial, Helvetica, sans-serif;
}


header {
    background-color: var(--cor-primaria);
    color: var(--cor-destaque2);
  }



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--fonte-body);
  color: var(--cor-destaque1);
}


header, main, footer {
  width: 840px;
  margin: 0 auto;
}



h1, h2 {
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}


.redes-sociais a {
    text-decoration: none;
}


.redes-sociais a {
    text-decoration: none;
}


.principal {
  position: relative;
}


.principal img {
    display: block;
    width: 100%;
    height: auto;
  }

article {
    position: absolute;
    color: aqua;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--cor-destaque1);
  color: #fff; /* texto branco – certifique-se de que haja contraste suficiente com a cor de fundo */
}


.principal article img {
  float: right;
  width: 125px;
} {

}