main {
    max-width: 840px;
}

aside {
    width: 20px ;
    margin: 10px;
    border: 2px;
    padding: 10px;
    background-color: aqua;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 10px;
    padding: 10px;
    box-shadow: 1px;

}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

nav {
    background-color: aqua;
    padding: 10px;

}

nav a {
    color: beige;
    padding: 10px;
    display: block;
}

h1 {
    color: blueviolet;
}

